//
   Created by yuechungng on 19/2/2016.
.container.explanation-container
    .explanation-area-title
        h1.title-text Gene Structure and Information
    .svg-container
        .dropdown.dropdown-btn#svg-menu
            button.btn.btn-xs.btn-default.dropdown-toggle#svg-dropbown(type='button', data-toggle='dropdown',aria-haspopup='true',aria-expanded='false') Transcripts
                span.caret
            ul.dropdown-menu#transcript-menu(aria-labelledby='svg-dropdown')
                li.menu
                li.divider
                li.disabled
                    a(style="background-color:lightyellow") Canonical Transcript
            input#focusing-transcript-info(readonly)
        .dropdown.dropdown-btn#seq-menu
            button.btn.btn-xs.btn-default.dropdown-toggle#seq-dropdown(type='button', data-toggle='dropdown',aria-haspopup='true',aria-expanded='false') Sequences
                span.caret
            ul.dropdown-menu#sequences-menu(aria-labelledby='seq-dropdown')
                li.menu
        svg.explanation-area#svg-container
    .svg-btn
        .btn-container#exons-btn
        .btn-container#transcription-btn
        .btn-container#Disease-btn
.container#sequence-region
    .sequence-area-title#sequence-title
        h4#sequence-title-text Sequence
    .sequence-container#sequence

script(type='text/javascript' src='javascripts/Transcript.js')
script(type='text/javascript' src='javascripts/Exon.js')
script(type='text/javascript' src='javascripts/cds.js')
script(type='text/javascript' src='javascripts/explanationEvent.js')
script.
    console.log(selectedGeneCanonicalTranscript.canonicalTranscript);
    var explanation = new explanationCreater('#{transcripts}', '#{exons}', '#{cds}','#{id}',selectedGeneCanonicalTranscript.canonicalTranscript, selectedGeneCanonicalTranscript.symbol);
    explanation.drawSVG();