//
   Created by yuechungng on 19/2/2016.
.container.explanation-container
    .explanation-area-title
        h1.title-text Gene Structure and Information
    .svg-container
        #transcript-instruction
            button.btn.btn-xs#btn-instuction-close(style='background-color:black; opacity:0.9;') X
            .instruction-title
            h3(style='text-align: center') Gene Structure Instruction
            .instruction-content
                button.btn.btn-info(style='display:inline-block; opacity:1;') Exon
                h6 Button for Showing Exon Inside Transcript using animation.
                button.btn.btn-info(style='display:inline-block; opacity:1;') Transcription
                h6 Button for showing the basic transcription concept using animation.
                button.btn(style='background-color:#ff9999; color:#ffffff') Related Disease
                h6 Button for Showing the Disease that related to selected gene.
        button.btn.btn-xs#btn-instruction ?
        .dropdown.dropdown-btn#svg-menu
            button.btn.btn-xs.btn-default.dropdown-toggle#svg-dropbown(type='button', data-toggle='dropdown',aria-haspopup='true',aria-expanded='false') Transcripts
                span.caret
            ul.dropdown-menu#transcript-menu(aria-labelledby='svg-dropdown')
                li.menu
                li.divider
                li.disabled
                    a(style="background-color:lightyellow") Canonical Transcript
            input#focusing-transcript-info(readonly)
        .dropdown.dropdown-btn#seq-menu
            button.btn.btn-xs.btn-default.dropdown-toggle#seq-dropdown(type='button', data-toggle='dropdown',aria-haspopup='true',aria-expanded='false') Sequences
                span.caret
            ul.dropdown-menu#sequences-menu(aria-labelledby='seq-dropdown')
                li.menu
        svg.explanation-area#svg-container
    #text-explanation
    .svg-btn
        .btn-container#exons-btn
        .btn-container#transcription-btn
        .btn-container#Disease-btn
.container#sequence-region
    .sequence-area-title#sequence-title
        h4#sequence-title-text Sequence
    .sequence-container#sequence
    #sequence-instruction
        #sequence-instruction-Exon(style='font:1.5em') Exon:&nbsp;
            span(style="background-color:#33ff33") highlighted and in Uppercase character.
        #sequence-instruction-Intron(style='font:1.5em') Intron: In lowercase character



script(type='text/javascript' src='javascripts/Transcript.js')
script(type='text/javascript' src='javascripts/Exon.js')
script(type='text/javascript' src='javascripts/cds.js')
script(type='text/javascript' src='javascripts/explanationEvent.js')
script.
    console.log(selectedGeneCanonicalTranscript.canonicalTranscript);
    var explanation = new explanationCreater('#{transcripts}', '#{exons}', '#{cds}','#{id}',selectedGene.canonicalTranscript, selectedGene.symbol);
    explanation.drawSVG();
    $(document).ready()
    {
        $('#transcript-instruction').width($('.svg-container').width());
        $('#transcript-instruction').height($('.svg-container').height());
        $('#btn-instruction').click(function(e)
        {
           $('#transcript-instruction').toggle(1000);
        });
        $("#btn-instuction-close").click(function(e)
        {
           $('#transcript-instruction').toggle(1000);
        });
    }