//
   Created by yuechungng on 15/2/2016.

extends layout

block content
    .container#cookies-reminder
        #cookies-text A past visit record has been detected. Do you want to recover the the past record?
        btn#cookies-ok.btn-circle(style='background-color:green')
            i.glyphicon.glyphicon-ok-sign
        btn#cookies-no.btn-circle(style='background-color:red')
            i.glyphicon.glyphicon-remove-sign
    #chromosomes-navigator-container.container
        #chromosomes-nav-title-container
            h2#chromosomes-nav-title Human Chromosomes
            h5(style='color:#b3b3ff') Double Click to focus
        svg#chromosomes-navigator(style='width:100%; height:100%;')
        #information-btn-container
            .function-menu
                .chromosome-type.function-menu-group
                    .hover-button.Autosomes Autosomes (Body Chromosomes)
                    .hover-button.Allosomes Allosomes (Sex Chromosomes)
                .chromosome-differents.function-menu-group
                    h6 Chromosomes Differents between Male And Female
                    input.sex-Switch#sex-switch(type='checkbox' name='sex-checkbox' data-on-text='Male' data-off-text='Female' data-label-text='Sex' data-on-color='info' data-off-color='info')
            #btn-chromosome-type.btn Chromosome Types
        script.
            $(document).ready()
            {
                $('#sex-switch').bootstrapSwitch('state', true);

                showSpinner();
                var chrNavHeight = screen.height * 0.6;
                $("#chromosomes-navigator").css('height', chrNavHeight);
                $.ajax({
                    url: './api/getChromosome/',
                    data: '',
                    type: "GET",
                    success: function(data)
                    {
                        var chromosomesObj = JSON.parse(data);
                        var chrNav = new ChrNav(chromosomesObj,$("#chromosomes-navigator"));
                        //alert(data);
                    },
                    error:function(xtr, status, err)
                    {
                        alert("Ajax Get Chromosome Error");
                    }
                })

                //handle cookies
                var cookies = '#{cookies}';
                if(cookies != '0')
                {
                    $('#cookies-reminder').toggle(500);
                    cookies = cookies.replace(/&quot;/g, '"');
                    var cookiesObj = JSON.parse(cookies);
                    var cookiesText = $('#cookies-text');
                    if(cookiesObj.type == 'chromosome-region')
                        $(cookiesText).append(" Chromosome" + cookiesObj.chr + ": " + cookiesObj.regionStart + " - " + cookiesObj.regionEnd);
                    else if (cookiesObj.type == 'symbol')
                        $(cookiesText).append(" Gene Symbol: " + cookiesObj.symbol);
                    else if(cookiesObj.type == 'gene-id')
                        $(cookiesText).append(" Gene ID: " + cookiesObj.id);
                }

                $('#cookies-no').click(function(e)
                {
                    $('#cookies-reminder').toggle(500);
                });

                $("#cookies-ok").click(function(e)
                {
                    $('#cookies-reminder').toggle(500);

                    var query  = {};
                    query.type = cookiesObj.type;
                    if(query.type == 'chromosome-region') {
                        query.chromosomeName = cookiesObj.chr;
                        query.regionStart = cookiesObj.regionStart;
                        query.regionEnd = cookiesObj.regionEnd;
                    }
                    else if(query.type  == 'symbol')
                    {
                        query.symbol = cookiesObj.symbol;
                    }
                    else if(query.type == 'gene-id')
                    {
                        query.id = cookiesObj.id;
                    }
                    showSpinner();
                    $.ajax(
                            {
                                url: './gene',
                                data: query,
                                type: 'GET',
                                success: function (data) {
                                    $(".container").remove();
                                    $('body').append(data);
                                }
                                ,
                                error: function (xhr, status, error) {
                                    alert("Error: " + error.message);
                                }
                            });
                });
            }



