doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css')
    link(rel='stylesheet', href="/stylesheets/style.css")

    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/bower_components/bootstrap-switch/dist/js/bootstrap-switch.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/chromosome.js')
    script(type='text/javascript', src='javascripts/makeSVG.js')
    script(type='text/javascript' src='bower_components/svg-pan-zoom/dist/svg-pan-zoom.js')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navabr-header
          a.navbar-brand(href="#") GGE
        ul.nav.navbar-nav
          li.active: a(href="#") HOME
          li: a(href="#") Genome Browser
          li: a(href="#") Basic Information
        .col-sm-3.col-md-3.pull-right
          form.navbar-form#gene-search(role="search" method="get" action="javascript:search();")
            .input-group
              input.form-control#query-string(type="text" placeholder="Search" name="srch-term" onClick="this.select();")
              .input-group-btn
                button.btn.btn-default(type="submit") Search
    script(type='text/javascript', src='javascripts/search.js')
    .spinner-div
      .spinner-inner
    script.
      $(".spinner-div").hide();
    block content
