doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href="/stylesheets/style.css")

    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/chromosome.js')
  body
    block content
