doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css')
    link(rel='stylesheet', href="/stylesheets/style.css")

    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/bower_components/bootstrap-switch/dist/js/bootstrap-switch.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/chromosome.js')
  body
    block content
