body{
    background-color: #f5f8fa;
}
h2
{
    font-family: Didone, Arial;
}
table{
    width: 100%;
}
.slide-area
{
    cursor: crosshair;
}
.slide-instruction
{
    text-align: center;
    font-color: grey;
    cursor:crosshair;
}
.start
{
    /*display: inline-block !important;*/
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid;
}
.end
{
    /*display: inline-block !important;*/

    background-clip: padding-box;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid;
}
td
{
    border: 1px solid;
}
.round-table{
    border-collapse: separate !important;
}
.chromosome
{
    width: 100%;
}
.bands
{
    height: 10px;
}
.bands:hover
{
    background-color: yellow;
}
.position-locator
{
    height: inherit;
}
#indicator
{
    position: relative;
}
.selected-info
{
    width: 50%;
}
#region-display
{
    height: 10px;
}
.data
{
    width: 90%;
    height: inherit;
    padding: 0px !important;
    border: none;
    font-size: 0px;
}
.title
{
    width: 10%;
    height: 30px;
    padding:0px !important;
    border: none;
    text-align: center;
    vertical-align: middle !important;
    border-right: thin dotted red;
    cursor: pointer;
}
.partition
{
    width: 25%;
    height: 100%;
    border-right: thin double black;
    display: inline-block;
    text-align: right;
    font-size: xx-small;
}
.container
{
    border-style:solid;
    border-width: 1px;
    border-radius: 10px;
    border-color:#ddddf3;
    background-color: #FFFFFF;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 0.5%;

}
.chromosome-area
{
    background-color: #FFFFFF;
    padding-top: 15px;
    border-radius: 15px;
}

#chromosome-navigator
{
    box-shadow: 1px 1px 5px grey;
    border-radius: 10px;
}

.info-area input
{
    background-color: #FFFFFF;
    border: hidden;
    font-size: medium;
}
.gene-name:hover
{
    background-color:#ffffe6;
}
.gene-position
{
    display: inline-block;
    height: 41px;
    border: solid;
    border-width: 0.1px;
    border-color:#55ff55;
    background-color: #99ff99;
    cursor: pointer;
}
.gene-position:hover
{
    background-color: #55ff55;
}
.gene-padding
{
    display: inline-block;
    height: 30px;
}
.gene-controller>div>h6
{
    display:inline-block;
}
.gene-controller>div
{
    display:inline-block;
    padding-right:20%;
}
.transcript-tr.canonical
{
    background-color:lightyellow;
}
.transcript-td
{
    display: inline-block;
    width: 33.33333%;
    overflow: hidden;

}
.modal-transcript-table
{
    border: solid;
}
.transcript-title
{
    border-bottom: solid;
    background-color: skyblue;
}
.modal-header {
    background-color: #63bddf;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom:solid;
    border-bottom-width:1px;
}

.strand-display.forward-animate
{
    -webkit-animation-name: forward;
    -moz-animation-name: forward;
    -o-animation-name: forward;
    animation-name: forward;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -o-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}
.strand-display.reverse-animate
{
    -webkit-animation-name: reverse;
    -moz-animation-name: reverse;
    -o-animation-name: reverse;
    animation-name: reverse;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -o-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

.spinner-div
{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1050;
    background-color: rgba(176,176,176,0.7);
}

.spinner-inner {
    position: relative;
    width: 100px;
    height: 100px;
    top: 50%; left: 50%;
    margin-left: -50px; margin-top: -50px;
}

.explanation-area
{
    width: 100%;
    height: 300px;
}

.explanation-area-title
{
    background-color: skyblue;
    text-align: center;
    vertical-align: middle;
    border-style:solid;
    border-width: 1px;
    border-color: grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.svg-container
{
    border-style: solid;
    border-top:none;
    border-width:1px;
    border-color: grey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#text-explanation
{
    border-radius:5px;
    border-style: solid;
    border-top:none;
    border-width: 1px;
    background-color: #f5f8fa;
    display:none;
    text-align: justify;
    line-height: 1.3;
    padding: 0.8%;
}
.title-text
{
    color: white;
}
.svg-btn
{
    margin-top: 10px;
}
.btn-container
{
    margin-right: 10px;
    display: inline-block;
}
.selected
{
    background-color: lightyellow;
}
#svg-container .exon:hover
{
    opacity: 0.8;
}

.exonDescription.hidden
{
    opacity: 0;
}
.exonDescription.show
{
    opacity:0;
}
.path
{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: lineDrawing 5s linear alternate;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.exonDescription.show:hover
{
    opacity: 1;
}
#focusing-transcript-info
{
    display: inline-block;
    height: 22px;
    width: inherit;
    margin-left:1%;
    border:none;
    overflow: scroll;
}

#sequence-title
{
    display: inline-block;
    width:100%;
}
.sequence-area-title
{
    background-color: skyblue;
    text-align: center;
    vertical-align: middle;
    border-style:solid;
    border-color:grey;
    border-width: 1px;
    margin-top: 1%;
}
#sequence
{
    width:100%;
    height:inherit;
    border-style: solid;
    border-width:1px;
    border-color:grey;
    border-top:none;
    margin-bottom: 1%;
    word-wrap: break-word;
    padding-left: 1%;
    padding-right: 1%;
    overflow: auto;
}

#seq-menu
{
    float: right;
    width: inherit;
}

.dropdown
{
    display:inline-block;
}

.dropdown-btn
{
    width:50%;
}

.exon.blinking
{
    -webkit-animation-name: blinker;
    -moz-animation-name: blinker;
    -o-animation-name: blinker;
    animation-name: blinker;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: 3;
    -moz-animation-iteration-count: 3;
    -o-animation-iteration-count: 3;
    animation-iteration-count: 3;

}

.exon.blinkingEach
{
    -webkit-animation-name: blinker;
    -moz-animation-name: blinker;
    -o-animation-name: blinker;
    animation-name: blinker;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: 3;
    -moz-animation-iteration-count: 3;
    -o-animation-iteration-count: 3;
    animation-iteration-count: 3;

}

#explanation-text.fadeInAndOut
{
    -webkit-animation:fadeInAndOut 7s;
    -o-animation:fadeInAndOut 7s;
    animation:fadeInAndOut 7s;
}

.description-active
{
    -webkit-animation:fadeInAndOut 10s;
    -o-animation:fadeInAndOut 10s;
    animation:fadeInAndOut 10s;
}
#btn-instruction
{
    border:solid;
    border-width:1px;
    border-color:grey;
    background-color: white;
}
#transcript-instruction
{
    position: absolute;
    background-color:black;
    opacity:0.9;
    z-index:998;
    color:white;
    display: none;
    overflow: scroll;
}

/*Search Result Page*/
.result-container
{
    border-bottom: solid;
    border-width: 1px;
    border-color: #c4c4c4;
}

.result-container:hover
{
    background-color: #ffffb3;
}

.disease-name span
{
    color: red;
}

.disease-info
{
    border-bottom:solid;
    border-bottom-width: 1px;
    border-bottom-color:grey;
}

#btnDiseases
{
    background-color:#ff9999;
    color: #ffffff;
}
#btnDiseases:hover
{
    background-color:#ff8080;
}

/*chromosomes navigator on index*/
#chromosomes-navigator-div
{
    height:auto;
}
#chromosomes-navigator
{
    border:solid;
    border-width: 1px;
    border-color: #dddddd;
    box-shadow: 1px 1px 1px #888888;
}
#chromosomes-navigator:hover
{
    cursor: pointer;
}

.Chr-Group > rect
{
    fill:#ccccff;
}
.Chr-Group:hover rect
{
    fill:#b3b3ff;
}

.Chr-Group > text
{
    opacity:0;
    font-size: 0.8em;
}

.Chr-Group:hover text
{
    opacity:1;
}
.chrTypeA.info-showing > rect
{
    fill: #66ff66
}

.chrTypeS.info-showing > rect
{
    fill:#ff3333;
}

#btn-chromosome-type
{
    border:solid;
    border-width: 1px;
    border-color: #99c2ff;
    display: inline-block;
}
#btn-chromosome-type:hover
{
    background-color:#f5f8fa;
}
.function-menu
{
    display:none;
    border-top:solid;
    border-color: #cccccc;
    border-width:1px;
    margin-top:1.3%
}
.function-menu-group
{
    display: inline-block;
    width:auto;
    margin-right: 10%;
}
.chromosome-type .Autosomes
{
    color:green;
    opacity:1;

}
.chromosome-type .Allosomes
{
    color:red;
    opacity: 1;
}

#cookies-reminder
{
    height: inherit;
    background-color: black;
    opacity: 0.7;
    color: #ffffff;
    display:none;
}
.btn-circle
{
    font-size: 1.3em;
    line-height: 1.428571429;
    border-radius: 15px;
    margin-right: 20px;
}
.hover-button
{
    margin-top: 1%;
    font-size: 20px;
    cursor:pointer;
    width:auto;
}
/*seq Area*/
#txt-seq
{
    width: 100%
}
/*Blast*/
#result-container
{
    display:none;
}
#result
{
    display:none;
}
#btn-result
{
    float:right;
}
/*spinner icon*/
.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader {
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:after {
    left: 1.5em;
}


/* Animation CSS */
/* translation direction animation CSS*/

/* Chrome, Safari, Opera*/
@-webkit-keyframes forward {
    from {transform: translateX(-100%)}
    to {transform: translateX(100%)}
}

@keyframes forward {
    from{transform: translateX(-100%);}
    to{transform: translateX(100%);}
}

@-webkit-keyframes reverse {
    from {transform: translateX(100%)}
    to {transform: translateX(-100%)}
}
@keyframes reverse {
    from {transform: translateX(100%)}
    to {transform: translateX(-100%)}
}

@keyframes lineDrawing
{
    from{stroke-dashoffset: 1000;}
    to{ stroke-dashoffset: 0; }
}
/* CSS ANIMATION FOR EXPLANATION */
@keyframes blinker /* Exons Flacking*/
{
    0% {opacity: 1}
    70% {opacity: 0.05}
    100% {opacity: 1}
}

@keyframes fadeInAndOut
{
    0% {opacity: 0}
    10% {opacity: 1}
    90% {opacity: 1}
    100% {opacity: 0}
}


/*spinner icon animation*/
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #ffffff;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #ffffff;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #ffffff;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #ffffff;
        height: 5em;
    }
}


